@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html {
  min-height: 100%;
}

body {
  background: linear-gradient(#333 25%, #111 65%, #000);
  color: #ddd;
  padding: 0px;
  margin: 0px;
  line-height: 1.8rem;
  font-size: 1.5em;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
}

h2 {
  color: rgb(120, 197, 255);
  margin-bottom: 0;
}

h3 {
  color: deeppink;
  font-family: monospace;
  margin-bottom: 1em;
  font-weight: lighter;
}

a {
  color: rgb(20, 157, 255);
  font-size: 0.8em;
  vertical-align: text-top;
}
a:visited {
  color: rgb(20, 157, 255);
}

nav {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 100vw;
  background-color: #000;
  border-bottom: 2px solid deeppink;
  padding: 0.5em 0em 0.2em 0em;
  margin: 0;
}
nav a {
  font-size: 1.3em;
  color: deeppink;
  margin: 5px 30px 5px 30px;
  text-decoration: none;
}
nav a:visited {
  color: deeppink;
}
nav a:hover {
  color: #fff;
}

.content {
  height: 100%;
  padding: 0 0 0 3vw;
}

.index-content {
  max-width: 60vw;
  margin: auto;
}
.index-content p {
  text-align: justify;
}

#me-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 60vw;
  margin: auto;
}
#me-section img {
  position: relative;
  left: -20px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px, -5px -5px 5px 5px;
}
#me-section img:hover {
  width: 200px;
  border-radius: 50%;
  box-shadow: 7px -5px 5px 5px, -7px 5px 5px 5px;
}
#me-section p {
  font-size: 0.7em;
}
#me-blurb-div {
  max-width: 30%;
  position: relative;
  left: -20px;
}

.spacer {
  width: 0px;
  margin-right: 80px;
}

#faves-list-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 240px;
}

#faves-list-div h4 {
  color: #aca;
  font-size: 0.9em;
  font-style: normal;
  width: 300px;
  margin-left: -10px;
  margin-bottom: 0;
  text-align: justify;
  vertical-align: top;
}

#faves-list-div ul {
  list-style: upper-roman;
  width: 20vw;
  vertical-align: top;
}

#faves-list-div li {
  font-family: monospace;
}

#faves-list-div li::before {
  color: red;
}

#the-form {
  max-width: 60%;
}
.form-field {
  display: flex;
  flex-direction: row;
}

.form-field label {
  flex: none;
  display: block;
  margin-right: 10px;;
  width: 150px;
  font-size: 1em;
}

.form-field input {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.form-field textarea {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

#form-radio-div label {
  font-size: .8em;
}
#suggestions-text {
  display: none;
}
#suggestions-text label {
  font-size: .8em;
  padding-bottom: .5em;
  width: 100%;
}
#btnSubmit {
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  margin: auto;
}

.radio-field {
  display: flex;
}
.radio {
  width: 30px;
}
.radio-field label {
  color: deeppink;
}
/* bio page */


.bio-content .intro-section {
  text-align: center;
  max-width: 60vw;
  margin: auto;
  font-size: smaller;
}

#interests-section {
  width: 100%;
  overflow-x: auto;
}

#interests-table {
  min-width: 800px;
  /* max-width: 80%; */
  max-width: 70vw;
  margin: auto;
  margin-top: 2em;
}
#interests-table th {
  padding-bottom: 0.6em;
  color: #aca;
  text-align: left;
  font-size: 0.8em;
  padding-left: 20px;
}
#interests-table td {
  border: 1px solid #ccc4;
  padding: 20px;
  font-family: monospace;
  vertical-align: top;
}
#interests-table td:first-child {
  --minFontSize: 0.8em;
  --maxFontSize: 1.2em;
  --scaler: 4vw;
  /* font-size: 1.3em; fallback if clamp fails */
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  vertical-align: top;
  width: 22%;
  max-width: 24vw;
}
#interests-table td:nth-child(2) {
  text-align: justify;
  font-size: 0.9em;
  width: 50%;
}
#interests-table td:nth-child(3) {
  text-align: center;
}

#pets-cell {
  display: flex;
}
#pets-cell img {
  width: 46%;
  padding: 5px;
  border: 2px inset #999;
}

@media screen and (max-width: 568px) {
  .content {
    max-width: fit-content;
  }
  #me-section {
    flex-direction: column;
  }
  #faves-list-div ul {
    width: 60vw;
  }
  #faves-list-div h4 {
    width: 70vw;
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: left;
  }
  .index-content {
    max-width: 90vw;
  }
  #lorem-section {
    width: 70vw;
  }

  #interests-table {
    max-width: 95%;
  }
  #interests-table td:nth-child(2) {
    text-align: left;
  }
}
