@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html {
  min-height: 100%;
}

body {
  background: linear-gradient(#333 25%, #111 65%, #000);
  color: #ddd;
  padding: 0px;
  margin: 0px;
  line-height: 1.8rem;
  font-size: 1.5em;
  font-family: "Play", sans-serif;
}

h2 {
  color: rgb(120, 197, 255);
  margin-bottom: 0;
}

h3 {
  color: deeppink;
  font-family: monospace;
  margin-bottom: 1em;
  font-weight: lighter;
}

a {
  color: rgb(20, 157, 255);
  font-size: 0.8em;
  vertical-align: text-top;
}
a:visited {
  color: rgb(20, 157, 255);
}

nav {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 100vw;
  /* background-color: #da5; */
  background-color: #000;
  border-bottom: 2px solid deeppink;
  padding: 0.5em 0em 0.2em 0em;
}

nav a {
  font-size: 1.3em;
  color: deeppink;
  margin: 5px 30px 5px 30px;
  text-decoration: none;
}

nav a:visited {
  color: deeppink;
}

nav a:hover {
  color: #fff;
}

.content {
  height: 100%;
  padding: 0 3vw 0 3vw;
}

.index-content {
  max-width: 60vw;
  margin: auto;
  /* text-justify: distribute; */
}
.index-content p {
  text-align: justify;
}

#me-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* grid-template-columns: 1fr 1fr; */
  max-width: 50vw;
  margin: auto;
}

#me-section img {
  width: 240px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px, -5px -5px 5px 5px;
}
#me-section img:hover {
  width: 240px;
  border-radius: 50%;
  box-shadow: 7px -5px 5px 5px, -7px 5px 5px 5px;
}

.spacer {
  width: 0px;
  margin-right: 80px;
}

#faves-list-div {
  width: 240px;
  margin: auto;
  /* margin-left: 30px; */
}

#faves-list-div h4 {
  color: #aca;
  font-size: 0.9em;
  font-style: normal;
  width: 300px;
  margin-left: -10px;
  margin-bottom: 0;
  text-align: justify;
}

#faves-list-div ul {
  list-style: upper-roman;
  width: 20vw;
}

#faves-list-div li {
  font-family: monospace;
}

/* #faves-list-div li:before {
  color: red;
} */

#lorem-section p {
  font-family: monospace;
  text-align: justify;
}

/* bio page */
.bio-content .intro-section {
  text-align: center;
  max-width: 50vw;
  margin: auto;
  font-size: smaller;
}

#interests-table {
  min-width: 400px;
  margin: auto;
  margin-top: 2em;
}

#interests-table th {
  padding-bottom: 0.6em;
  color: #aca;
  text-align: left;
  font-size: .8em;
  padding-left: 20px;
}
#interests-table td {
  border: 1px solid #ccc4;
  padding: 20px;
  max-width: 20vw;
  font-family: monospace;
  vertical-align: top;
}
#interests-table td:first-child {
  max-width: 7em;
  font-size: 1.3em;
  vertical-align: top;
}
#interests-table td:nth-child(2) {
  text-align: justify;
  font-size: .8em;
}
#interests-table td:nth-child(3) {
  text-align: center;
}


@media screen and (max-width: 1012px) {
  #me-section {
    flex-direction: column;
  }
  #faves-list-div ul {
    width: 60vw;
  }
  #faves-list-div h4 {
    width: 70vw;
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: left;
  }
  .index-content {
    width: 70vw;
  }
  #lorem-section {
    width: 70vw;
  }
}
